/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background: #0a0f1c;
    /* dark navy */
    color: #fff;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0d1323;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-direction: column;
    gap: 15px;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ff6b6b;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}

.hero-text {
    flex: 1;
}

.hero-text p{
    margin-top: 10px;
}

.hero-text .intro {
    font-size: 1.2rem;
    color: #ddd;
}

.hero-text .dot {
    color: #ff6b6b;
    font-weight: bold;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.hero-text h2 {
    font-size: 1.5rem;
    color: #ff6b6b;
}

.buttons {
    margin-top: 20px;
}

.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 12px 25px;
    margin: 8px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary {
    background: #ff6b81;
    color: #fff;
}

.btn-primary:hover {
    background: #ff4f6d;
    transform: scale(1.05);
}

.btn-secondary {
    border: 2px solid #ff6b81;
    color: #ff6b81;
}

.btn-secondary:hover {
    background: #ff6b81;
    color: #fff;
    transform: scale(1.05);
}

/* Hero Image */
.hero-img img {
    width: 260px;
    border-radius: 50%;
    border: 6px solid #1e2b47;
    /* dark blue ring */
    box-shadow: 0 0 30px rgba(255, 107, 107, 0.3);
}

/* Skills */
.skills {
    padding: 20px;
    text-align: center;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    list-style: none;
    
}

.skills li {
    background: #1a2136;
    margin: 8px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.skills li:hover{
    transform: scale(1.08);
    background: #ff6b81;
}

/* About */
.about {
    padding: 40px 20px;
    text-align: left;
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
}

.about h2 {
    margin-bottom: 20px;
    color: #ff6b6b;
}

.about-content p{
    line-height: 1.8;
    max-width: 900px;
    margin: auto;
}

.about-stats{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.stat h3{
    color: #ff6b81;
    font-size: 28px;
}

.stat p{
    color: white;
    margin-top: 10px;
}

/* Projects */
.projects {
    padding: 50px 20px;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    background: #111827;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s;
    width: 300px;
    margin: 15px;
}

.project-card:hover{
    transform: translateY(-10px);
}

.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3 {
    color: #ff6b6b;
    margin-top: 10px;
}

.project-card p{
    margin-top: 10px;
    color: #ccc;
}

/* Contact */
.contact {
    padding: 50px 20px;
    text-align: center;
}

.contact a {
    color: #ff6b6b;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #0d1323;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-top: 20px;
    }

    .about-stats{
        flex-direction: column;
        gap: 20px;
    }

    .project-grid{
        flex-direction: column;
        align-items: center;
    }

    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .nav-links{
        margin-top: 10px;
    }

}

section h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
